@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy|Courgette|Cookie|Tangerine|Marck+Script);

body {
  background: #3d4f77;
}

* {
  box-sizing: border-box;
}


/*----- Wrapper -----*/

.wrapper {
  width: 90%;
  margin: auto;
  max-width: 1140px;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/*----- Page Columns -----*/

.one_fourth {   width: 17%;  }
.one_third {    width: 29.333%;  }
.one_half {     width: 45.5%;  }
.two_third {    width: 61.666%;  }
.three_fourth { width: 69.75%;  }
.full_column {  width: 94%; }

.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.full_column {
  float:left;
  margin-left: 3%;
  margin-bottom: 1%;
}

.one_fourth:first-of-type {
  margin-left: 1.5%;
}

/*----- Clearfix -----*/
.row {
  padding: 20px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

/*----- Links -----*/

a {
  transition: 333ms all ease-in-out;
}

nav a {
  color: #FFF8F2;
}

nav a:hover {
  color: #E3CA8A;
  text-decoration: none;
}

footer a {
  color: #FFF8F2;
  text-decoration: none;
}

footer a:hover {
  color: #E3CA8A;
  text-decoration: none;
}

/*----- Form -----*/

form {
  width: 80%;
  margin: auto;
}

form p {
  color: #313D46;
  font-size: 20px;
  font-family: helvetica;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  font-size: 20px;
  background-color: #FFF8F2;
  resize: none;
  color: #313D46;
}

button, .thank-you-link {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 15px 10px;
  width: 150px;
  background-color: #616f92;
  border: none;
  color: #FFF8F2;
  text-align: center;
  transition: 333ms all ease-in-out;
}

button:hover, .thank-you-link:hover {
  color: #E3CA8A;
  text-decoration: none;
}

/*----- Video Embed -----*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

iframe.googlemap {
  width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

/* ----- Header ----- */

#top-nav {
  display: none;
}

.toggle-menu img {
  border: 1px #777 solid;
  border-radius: 5px;
  padding: 3px;
  margin: 0px 20px 0 0;
  width: 40px;
  margin-right: 0px;
  background-color: #E3CA8A;
  float: right;
  margin-right: 3%;
}

header {
  height: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #3d4f77, #616f92);
}

nav {
  text-align: center;
  margin: auto;
}

.logo {
  margin: auto;
  display: block;
  width: 30%;
  padding: 10px 10px 10px 10px;
  background: #E3CA8A;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
  margin-bottom: 15px;
}

a {
  margin-left: 0px;
}

.link {
  border: 3px solid #9E8249;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}


/*----- Main -----*/

main {
  background-image: url(images/common/upfeathers.png);
  padding-top: 20px;
  padding-bottom: 20px;
}

.family {
  width: 90%;
  padding: 10px 10px 40px 10px;
  background: #E3CA8A;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
  margin: auto;
  display: block;
}

.singlewomen {
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
  width: 70%;
}

.girlkissinggrandpa {
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}

.family3 {
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
}

.family5 {
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
  margin-top: 5px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

#dates {
  padding-top: 80px;
}

.contentbox {
  padding-top: 10px;
  background: #FFF8F2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
  margin-bottom: 30px;
  padding: 20px;
}

.profilepic {
  width: 50%;
  margin: auto;
  display:block;
  background-color: #E3CA8A;
  margin-top: 20px;
  float: none;
  padding: 10px 10px 40px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.qoutepoloroid {
  margin-top: 5px;
  text-align: center;
  padding: 10px 10px 40px 10px;
  background: #E3CA8A;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.qoute {
  line-height: 150%;
  color: #313D46;
  font-size: 35px;
}

.qoutebackground {

  background-color: #FFF8F2;
  padding-top: 10px;
}

.author {
  font-size: 25px;
  margin-top: 10px;
  padding-bottom: 10px;
  color: #313D46;
}

main h1 {
  font-size: 40px;
  color: #313D46;
}

main h2 {
  font-size: 30px;
  color: #9E8249;
}

main p {
  line-height: 25px;
  font-size: 20px;
  color: #313D46;
}

.centerbutton {
  padding-top: 25px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}

.topspace {
  margin-top: 10px;

}

.qoutes {
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.qoute1 {
  background-color: #7871AA;
}

.qoute2 {
  background-color: #B7A4CE;
}

.qoute3 {
  background-color: #F3ED86;
}

.qoute4 {
  background-color: #8B8BAE;
}

.qoute5 {
  background-color: #F4A259;
}

.qoute6 {
  background-color: #EDBF85;
}

.font1 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  line-height: 24px;
}

.font2 {
  font-family: 'Satisfy', cursive;
  font-size: 23px;
  line-height: 25px;
}

.font3 {
  font-family: 'Courgette', cursive;
  font-size: 35px;
  line-height: 50px;
}

.font4 {
  font-family: 'Cookie', cursive;
  font-size: 28px;
  line-height: 26px;
}

.font5 {
  font-family: 'Tangerine', cursive;
  font-size: 35px;
  line-height: 40px;
}

.font6 {
  font-family: 'Marck Script', cursive;
  font-size: 33px;
  line-height: 33px;
}

.bucket {
  padding-top: 20px;
}

.border {
  border: 3px solid red;
}


/*----- Footer -----*/

footer {
  background-color: #3d4f77;
}

footer p {
  color: #FFF8F2;
}

footer h2 {
  font-size: 34px;
}

footer h3 {
  font-size: 24px;
}

h5 {
  text-align: center;
}

.contact {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.textaligncenter {
  text-align: center;
}

hr {
  border-color: #FFF8F2;
}

/*----- MQ's -----*/

@media screen and (max-width: 1024px) {
  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 25px;
  }

  .author {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }
}

@media screen and (max-width: 970px) {
  nav h2 {
    font-size: 110%;
  }

  .contentbox {
    padding-bottom: 20px;
  }

  #dates {
    padding-top: 0px;
  }

  .one_halff {
    width: 94%;
  }

}

@media screen and (max-width: 768px) {
  .family3 {
    display: none;
  }

  .family1 {
    display: none;
  }

  .family5 {
    display: none;
  }

  .family2 {
    width: 90%;
  }

  .family4 {
    width: 90%;
  }

  .contact {
    display: none;
  }

  .one_third {
    width: 45.5%;
  }

  .two_third {
    width: 94%;
  }

  .one_half {
    width: 94%;
  }

  nav h2 {
    font-size: 110%;
  }

  .logo {
    width: 50%;
  }

  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 30px;
  }

  .author {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  .girlkissinggrandpa {
    margin-top: 10px;
  }

  .singlewomen {
    margin-top: 10px;
  }
}

@media screen and (max-width: 667px) {
  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 25px;
  }

  .author {
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  nav h2 {
    font-size: 95%;
  }

  .font3 {
    font-size: 25px;
    line-height: 50px;
  }
}

@media screen and (max-width: 610px) {
  .one_fourth {
    width: 94%;
  }

  .logo {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    margin-bottom: 20px;
  }

  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 22px;
  }

  .author {
    font-size: 18px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  header {
    padding-bottom: 15px;
  }

  .one_fourth:first-of-type {
    margin-left: 3%;
  }

  .videowrapper {
    width: 100%;
  }

  main h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 611px) {

  #top-nav {
    display: block !important;
  }
  .toggle-menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 20px;
  }

  .author {
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  .font3 {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 414px) {
  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 17px;
  }

  .author {
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  .girlkissinggrandpa {
    display: none;
  }

  .full {
    width: 94%;
  }

  .singlewomen {
    margin-top: 10px;
    width: 85%;
  }

  .one_third {
    width: 94%;
  }

  .wrapper {
    width: 90%;
    margin: auto;
  }

  main h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 375px) {
  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 15px;
  }

  .author {
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  main h2 {
    font-size: 25px;
  }

  main h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 320px) {
  .qoute {
    line-height: 150%;
    color: #313D46;
    font-size: 12px;
  }

  .author {
    font-size: 11px;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #313D46;
  }

  footer p {
    font-size: 13px;
  }

  main h1 {
    font-size: 24px;
  }

  main h2 {
    font-size: 21px;
  }

  main p {
    font-size: 18px;
  }
}
